.card{
	min-height:120px; 
	margin:5px;
	cursor:pointer;
	color:#fff;
}

.card:hover{
	opacity:0.8;
}

.bg-green{ background:#009900}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





.tree ol {
	counter-reset:myCounter;
	margin-left:0;
	padding-left:5px;
	color: rgb(100,100,100);
  }

  .tree li {
	position: relative;
	padding-left: 3em;
	margin: 0.45em 0;
	list-style: none;
	line-height: 1.8em;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
  }

  .tree li:hover {
	color: rgb(0,0,0);
  }

  .tree li:before {
	content:counter(myCounter);
	counter-increment:myCounter;
	position:absolute;
	top:0;
	left:0;
	width: 1.8em;
	height: 1.8em;
	line-height: 1.8em;
	padding:0px;
	color:#fff;
	background:#2980b9;
	font-weight:bold;
	text-align:center;
	border-radius: .9em;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
	z-index: 1;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  }

  .tree li:hover:before {
	background-color: #2ecc71;
  }

  .tree li li:before{
	background-color: #3498db;
  }

  .tree li:after {
	position: absolute;
	top: 2.1em;
	left: 0.9em;
	width: 2px;
	height: calc(100% - 2em);
	content: '';
	background-color: rgb(203, 203, 203);
	z-index: 0;
  }

  .tree li:hover:after {
	background-color: #2ecc71;
  }

  .tree li li {
	font-size: 0.8em;
  }













